@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Konkhmer Sleokchher";
  --secondary-font: "Righteous";
  --tertiary-font: "Braah One";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Righteous', 'Konkhmer Sleokchher', 'Braah One',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: fixed;
  top: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--primary-font);
  height: 125px;
  max-height: 125px;
  width: 100%;
  /* border-bottom: 1px solid black; */
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0 5%;
  z-index: 5;
}

.nav-logo {
  width: 25%;
}

.logo {
  width: 100%;
}

nav img {
  height: 125px;
  width: 125px;
}

nav li:hover {
  color: rgb(1, 169, 46);
  cursor: pointer;
}

#Main {
  position: relative;
  width: 100%;
  height: 91vh;
  margin-top: 125px;
  font-family: var(--primary-font), sans-serif;
}

#Main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-header {
  font-size: 160px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  text-shadow: 0 0 10px lightgrey;
}

.main-description {
  font-size: 32px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  text-shadow: 0 0 10px lightgrey;
}

#About {
  margin: 200px 50px 50px;
}

.left-side {
  width: 60%;
}

.about-header {
  font-size: 5rem;
  font-family: var(--primary-font);
}

.about-description {
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 2 ;
}

.right-side {
  width: 40%;
}

#Projects {
  margin: 200px 50px 50px;
}

.project {
  height: 450px;
}

.projects-header {
  font-family: var(--secondary-font);
  font-size: 5rem;
}

.project-preview {
  width: fit-content;
}

.project-img {
  width: 480px;
  height: 480px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: black;
  padding: 4px;
}

.project-overview {
  width: 550px;
  padding: 0px 20px 20px 40px;
  margin-left: 20px;
  font-family: var(--tertiary-font);
}

.project-overview-reverse {
  width: 550px;
  padding: 0px 40px 20px 20px;
  margin-right: 20px;
  font-family: var(--tertiary-font);
}

.project-top-info {
  margin-bottom: 8px;
}

.project-title {
  color: blue;
  font-weight: bold;
  font-size: 28px;
  font-family: var(--primary-font);
}

.project-tag {
  border: 1px solid gold;
  border-radius: 15px;
  background-color: gold;
  padding: 4px 10px;
  font-size: 20px;
  font-family: var(--primary-font);
}

.project-description {
  font-family: var(--tertiary-font);
  font-size: 16px;
}

.dev-name {
  color: red;
}

.dev-name:hover {
  color: lightcoral;
}

.project-team {
  font-family: var(--secondary-font);
  font-size: 18px;
  border: 1px solid lightgreen;
  border-radius: 15px;
  background-color: lightgreen;
  padding: 2px 8px;
  width: fit-content;
  color: black;
}

.user-icon, .link-icon, .updated {
  font-size: 24px;
}

.project-team-section {
  width: 35%;
}

.project-links-section {
  width: 25%;
}

.project-updated-section {
  width: 40%;
}

.project-tech {
  font-family: var(--secondary-font);
  font-size: 18px;
  border: 1px solid lightcoral;
  border-radius: 15px;
  background-color: lightcoral;
  padding: 2px 8px;
  width: fit-content;
  color: black;
}

.project-tech-list li img {
  width: 50px;
  height: 50px;
}

.project-links {
  font-family: var(--secondary-font);
  font-size: 18px;
  border: 1px solid cyan;
  border-radius: 15px;
  background-color: cyan;
  padding: 2px 8px;
  width: fit-content;
  color: black;
}

.project-updated-header {
    font-family: var(--secondary-font);
  font-size: 18px;
  border: 1px solid lightpink;
  border-radius: 15px;
  background-color: lightpink;
  padding: 2px 8px;
  width: fit-content;
  color: black;
}

#OtherProjects {
  margin: 200px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-projects-header {
  font-family: var(--secondary-font);
  font-size: 4rem;
}

.other-projects {
  width: 100%;
}

.other-project {
  margin: 20px;
  background-color: white;
  width: 300px;
  height: 100%;
  border: 2px solid black;
  border-radius: 12px;
}

.other-project-header {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  background-color: lightblue;
  border-radius: 15px 15px 0 0;
}

.other-project-description {
  font-family: var(--tertiary-font);
  padding: 6px 6px 0px;
}

.other-project-updated-header {
  font-family: var(--secondary-font);
  font-size: 16px;
  border: 1px solid lightcoral;
  border-radius: 15px;
  background-color: lightcoral;
  padding: 2px 8px;
  width: fit-content;
  color: black;
}

.other-updated {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 16px;
  padding: 2px 8px;
}

.other-project-tech-list {
  height: 40px;
  width: 40px;
}