@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  /* --primary-color: rgb(20,20,22); */
  --primary-color: #141414;
  --secondary-color: lime;
  --tertiary-color: lightgreen;
  --primary-font: "Konkhmer Sleokchher";
  --secondary-font: "Righteous";
  --tertiary-font: "Braah One";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Righteous', 'Konkhmer Sleokchher', 'Braah One',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: white;
}

/* Hide the scrollbar but keep the scrolling functionality */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-color: var(--tertiary-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: var(--primary-font), sans-serif;
  align-items: center;
}

#Main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-header {
  /* font-size: 160px; */
  color: white;
  text-shadow: 0 0 10px lightgrey;
}

.main-description {
  /* font-size: 32px; */
  color: white;
  text-shadow: 0 0 10px lightgrey;
}

.main-button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-button:hover {
  background-color: rgba(144, 238, 144, 0.8);
  border: none;
  padding: 12px;
  .right-arrow {
 rotate: 90deg;
}
}

nav {
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: fit-content;
  z-index: 100;
  color: white;
}

.nav-links {
  align-items: end;
  position: relative;
}

.nav-link {
  cursor: pointer;
  padding: 6px 0;
  height: 60px;
  border-right: 1px solid transparent;
  transition: color 2s, opacity 2s;
  opacity: 0.5;
  position: relative;
  /* min-width: 60px; */
  justify-content: end;
}

.nav-title {
  visibility: hidden;
  display: none;
}

.nav-link:hover {
  color: var(--secondary-color);
  .nav-title {
    visibility: visible;
    display: flex;
    color: white;
    font-size: 20px;
    border-right: 2px solid var(--tertiary-color);
    padding-right: 6px;
    margin-right: 4px;
    position: relative;
    left: 20px;
    top: 32%;
    transform: translate(-100%, -50%);
  }
  #nav-link {
    font-size: 20px;
    position: absolute;
  }
}

.nav-link:nth-child(2):hover {
  .nav-title {
    align-self: flex-start;
    left: 35px;
    top: 50%;
  }
}

.nav-link:nth-child(3):hover {
  .nav-title {
    align-self: flex-start;
    left: 92px;
    top: 50%;
  }
}

.nav-link:nth-child(4):hover {
  .nav-title {
    align-self: flex-start;
    left: 35px;
    top: 50%;
  }
}

.nav-active {
  color: var(--secondary-color);
  border-right: 4px solid var(--secondary-color);
  z-index: 101;
  color: var(--secondary-color);
  opacity: 1;
}

.nav-link.animate-border {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes borderAnimationFromTop {
  0% {
    height: 0;
    transform-origin: top;
    transform: scaleY(0);
  }
  100% {
    height: 100%;
    transform-origin: top;
    transform: scaleY(1);
  }
}

.scrollbar-line {
  position: absolute;
  right: 1px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
  transition: transform 0.3s;
}

.scrollbar-line.animate-scrollbar {
  transform-origin: top;
  transform: scaleY(0);
}

#About {
  margin: 0px 50px;
  min-height: 100vh;
  height: 100%;
}

.top-side {
  /* width: 60%; */
  height: 100%;
}

.about-header {
  font-size: 5rem;
  font-family: var(--primary-font);
  margin-top: 200px;
}

.section-line {
  background-color: white;
  height: 4px;
  width: 75%;
  margin-bottom: 50px;
}

.skills-description-header {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.skills-description {
  font-family: var(--primary-font);
  width: 80%;
}

.about-icon-list {
  width: 80%;
}

.about-icon {
  width: 20%;
  height: fit-content;
}

.about-icon img {
  width: 150px;
  height: 150px;
}

.about-icon-header {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--primary-font);
  position: relative;
  top: -20px;
}

.about-icon-description {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--tertiary-color);
  position: relative;
  top: -20px;
}

.about-info {
  width: 80%;
}

.skills-header {
  font-family: var(--secondary-font);
}

.skills {
  width: 85%;
}

.skill {
  height: 100px;
  width: 100px;
}

.skill-icon {
  width: 70px;
  height: 70px;
}

.bottom-side {
  width: 80%;
}

.pfp {
  border: 4px solid var(--secondary-color);
  border-radius: 12px;
  width: 40%;
}

.about-description {
  font-family: var(--primary-font);
  line-height: 2 ;
  width: 90%;
}

.about-description-span {
  cursor: pointer;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  line-height: 2 ;
}

.about-description-span:hover {
  color: var(--tertiary-color);
}

#Projects {
  margin: 0px 100px;
  min-height: 100%;
}

.project-slider {
  height: 100%;
}

.projects-header {
  font-family: var(--secondary-font);
  font-size: 5rem;
  padding-top: 200px;
}

.project {
  display: flex !important;
  height: 700px;
}

.project-overview {
  width: 50%;
  padding: 0px 20px 20px 40px;
  margin-left: 150px;
  font-family: var(--tertiary-font);
}

.project-type {
  color: #F0F8FF;
  font-family: var(--tertiary-font);
}

.project-title {
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.project-description {
  width: 75%;
  font-family: var(--primary-font);
}

.project-preview-responsive {
  display: none;
  visibility: hidden;
}

.project-team-member {
  font-family: var(--secondary-font);
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  background-color: var(--secondary-color);
  padding: 2px 8px;
  width: fit-content;
  color: black;
}

.project-team-member:hover {
  border-color: lightgreen;
  background-color: lightgreen;
}

.project-tech-section {
  width: 75%;
  flex-wrap: wrap;
}

.project-tech {
  font-family: var(--secondary-font);
}

.project-tech-item {
  width: 50px;
  height: 50px;
}

.project-preview {
  width: 50%;
}

.project-img {
  width: 700px;
  height: 700px;
}

.project-links {
  font-family: var(--tertiary-font);
  width: fit-content;
  color: lime;
}

.link-icon {
  margin: 0 20px;
}

.link-icon:hover {
  color: lime;
  translate: 0 -5px;
}

#OtherProjects {
  margin: 0px 100px 200px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.other-projects-header {
  font-family: var(--secondary-font);
  font-size: 4rem;
  margin-top: 200px;
}

.other-projects {
  width: 100%;
}

.other-project {
  margin: 20px;
  padding: 10px 30px;
  border: 2px solid #333;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
  max-width: 400px;
  height: 100%;
  border-radius: 12px;
}

.other-project:hover {
  translate: 0 -10px;
}

.other-project-top {
  height: 10%;
}

.other-project-type {
  font-family: var(--tertiary-font);
  color: var(--secondary-color);
  border-radius: 15px;
  width: 25%;
}

.other-link-icon {
  margin: 0 20px;
}

.other-link-icon:hover {
  color: var(--secondary-color);
  translate: 0 -5px;
}

.other-project-title {
  font-family: var(--secondary-font);
  color: #F0F8FF;
  height: 20%;
}

.other-project-description {
  font-family: var(--tertiary-font);
  color: var(--tertiary-color);
  height: 50%;
}

.other-project-tech-list {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  font-family: var(--secondary-font);
  height: 20%;
  width: 100%;
}

#Contact {
  margin: 200px 50px 50px;
  min-height: 50vh;
}

.contact-header {
  font-family: var(--secondary-font);
  font-size: 4rem;
  margin: 125px 0;
  padding-top: 200px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-h1 {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--secondary-color);
}

.contact-form {
  width: 500px;
}

.contact-form input {
  padding: 8px;
  margin: 2px 0;
  border-radius: 6px;
  background-color: #333;
  color: var(--secondary-color);
}

.contact-form input:hover {
  border: 1px solid var(--tertiary-color);
}

.contact-form input:focus {
  outline: none;
  border-color: var(--tertiary-color);
}

.contact-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset; /* Prevent background color change on autofill */
  -webkit-text-fill-color: var(--secondary-color); /* Set the text color on autofill */
}

.contact-form textarea {
  padding: 8px;
  margin: 2px 0;
  border-radius: 6px;
  background-color: #333;
  color: var(--secondary-color);
  height: 126px;
}

.contact-form textarea:hover {
  border: 1px solid var(--tertiary-color);
}

.contact-form textarea:focus {
  outline: none;
  border-color: var(--tertiary-color);
}

.contact-submit {
  font-family: var(--primary-font);
  font-size: 20px;
  transition: 0.5s ease-out all;
  width: 30%;
  border: 1px solid var(--tertiary-color);
  cursor: pointer;
}

.contact-submit:hover {
  color: black;
  background-color: var(--tertiary-color);
}

.contact-submit:active {
  color: var(--tertiary-color);
  background-color: green;
}

#Footer {
  margin-top: 200px;
  min-height: 20vh;
  border-top: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.1);
}

.t-top {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  width: 40px;
  height: 40px;
  z-index: 999;
  background-color: transparent;
  color: #fff;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 8px;
  background-color: var(--primary-color);
}

.icon:hover {
  background-color: var(--tertiary-color);
}

.icon i {
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  /* Hide the scrollbar but keep the scrolling functionality */
  body {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Internet Explorer and Edge */
    -webkit-overflow-scrolling: touch; /* For iOS */
  }

  /* For WebKit browsers (such as Chrome and Safari) */
  body::-webkit-scrollbar {
    width: 0.5em;
  }

  body::-webkit-scrollbar-track {
    background: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .main-header {
    font-size: 72px;
  }

  .main-button {
    margin-top: 60px;
  }

  nav {
  position: fixed;
  bottom: 40px;
  right: 10px;
}

.about-icon-list {
  display: flex;
  flex-wrap: wrap;
}

.about-icon {
  width: 50%;
}

.top-side {
  padding: 0;
}

.skills-description {
  width: 100%;
}

.skills {
  width: 100%;
}

.skill {
  height: 90px;
  width: 90px;
}

.skill-icon {
  width: 60px;
  height: 60px;
}

.bottom-side {
  flex-direction: column;
  width: 100%;
}

.pfp {
  width: 70%;
  margin-bottom: 16px;
}

.about-description {
  font-size: 18px;
  line-height: 1.5;
  width: 90%;
}

.about-description-span {
  font-size: 18px;
  line-height: 1.5;
}

.project {
  height: 100%;
}

.project-overview {
  width: 100%;
  padding: 0;
  margin-left: 0;
}

.project-title {
  font-size: 48px;
}

.project-description {
  width: 90%;
}

.project-preview-responsive {
  display: flex;
  visibility: visible;
}

.project-img {
  width: 100%;
  height: 400px;
}
.project-tech-section {
  width: 100%;
}

.project-tech-item {
  width: 50px;
  height: 50px;
}

.project-preview {
  display: none;
  visibility: hidden;
}

.other-project {
  width: 100%;
}

#Contact {
  margin: 50px 50px 50px;
}

.contact-header {
  margin-bottom: 40px;
  padding-top: 50px;
}
}